* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
span {
  color: #f0a500;
}
header {
  background: #29293a;
  padding: 15px;
  opacity: 0.9;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ol {
  display: flex;
  list-style-type: none;
}
ol li a {
  text-decoration: none;
  padding: 7px;
  color: #ffff;
}
ol li a:hover {
  opacity: 0.8;
  text-decoration: underline;
  text-decoration-color: #f0a500;
}
/* welcome */
.welcome {
  height: 650px;
  background: #29293a;
}
.welcome .contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}
.welcome .contact p {
  font-size: 24px;
  color: #ffff;
}
.welcome .contact h1 {
  font-size: 32px;
  padding-bottom: 10px;
}
/* images */
.images {
  padding: 80px;
}
.images .all {
  height: 400px;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px -15px -50px;
  margin-left: auto;
  margin-right: auto;
}
.images .contact {
  margin-left: 10px;
}
.images .contact h2 {
  margin-bottom: 35px;
}
.images .contact p {
  width: 90%;
  margin-bottom: 20px;
  font-size: 17px;
  color: #29293a;
}
.images .contact .lighter {
  margin-bottom: 20px;
  font-size: 17px;
  color: #838386;
}
.images .btn {
  border: 1px solid #d3dedc;
  border-radius: 35px;
  padding: 13px;
  width: 180px;
  background: #ffff;
  color: black;
}
.images .btn:hover {
  background: #f0a500;
}
/* gallery */
.gallery {
  width: 100%;
  padding-bottom: 30px;
  padding-top: 30px;
  background: #f0f0f0;
}
.gallery .img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.gallery .content {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.gallery .item {
  padding: 11px;
  height: 330px;
  width: 410px;
  overflow: hidden;
  position: relative;
}
.gallery .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 300ms all;
}
.gallery .item .overlay {
  width: 100%;
  height: 100%;
  background: #353535;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 300ms all;
}
.overlay h2 {
  font-size: 24px;
  color: #fff;
}
.overlay p {
  font-size: 18px;
  color: violet;
}
.gallery .item:hover .overlay {
  opacity: 0.9;
}
.gallery .item:hover img {
  transform: scale(1.2);
}
/* price */
.price {
  background: #29293a;
}
.price h2 {
  text-align: center;
  padding: 10px;
  color: #fff;
}
.price .content {
  padding-bottom: 20px;
}
.price .item .title:hover {
  background: purple;
}
.price h3 {
  color: #fff;
  padding-top: 5px;
}
.price .all {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  height: 470px;
}
.price .item {
  height: 460px;
  width: 320px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.price .all .information {
  background: #fff;
  padding: 15px;
  text-align: center;
}
.price .all .title {
  background: #ed1c94;
  padding: 25px;
  text-align: center;
}
.price .all .information p {
  padding-bottom: 30px;
}
.price .all .item a {
  text-decoration: none;
  color: #fff;
}
.price .all .item button {
  background: #ed1c94;
  padding-left: 26px;
  padding-right: 26px;
  padding-bottom: 6px;
  padding-top: 6px;
  margin-top: 12px;
  border-radius: 35px;
}
.price .all .item button:hover {
  background: purple;
}
/* icon */
.icon {
  width: 100%;
  padding: 50px;
}
.icon .all {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.icon .all .item hr {
  margin-top: 20px;
  width: 100%;
  margin-bottom: 20px;
}
.icon .all .item {
  padding: 20px;
  border: 2px solid #f1f1f1;
  margin-right: 15px;
}
.icon .all .item .contact {
  padding: 12px;
}
.icon .all .item .contact p {
  color: #838386;
}
.icon .all i {
  padding-bottom: 6px;
}
.icon .item:hover {
  background: #f0f0f0;
}
/* blog */
.blog-post .title h2 {
  padding-top: 36px;
  text-align: center;
}
.blog-post {
  background: #f0f0f0;
  width: 100%;
  height: 1175px;
}
.blog-post .items {
  margin-top: 30px;
  width: 100%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.blog-post .item {
  margin-bottom: 20px;
  display: flex;
  width: 540px;
  height: 525px;
  background: #fff;
  flex-direction: column;
  overflow: hidden;
}
.blog-post .contact {
  margin-top: 12px;
  padding: 8px;
}
.blog-post .items .button-view {
  padding: 4px;
  color: #fff;
  background: #ed1c94;
  border-radius: 20px;
  text-decoration: none;
}
.blog-post .items p {
  margin-top: 4px;
  margin-bottom: 4px;
}
.blog-post .items a {
  text-decoration: none;
  color: #fff;
}
.blog-post .items button {
  background: #ed1c94;
  padding: 3px;
}
.blog-post .items button:hover {
  background: purple;
}
.blog-post .items .button-view:hover {
  background: purple;
}
.blog-post button {
  border-radius: 20px;
}
.soz {
  border-radius: 8px;
  padding: 40px;
  height: 228;
  width: 450;
  background: #6d0eb1;
}
.soz .contact {
  padding: 12px;
  color: #fff;
  font-size: 19px;
}
.soz .contact .who {
  padding-top: 20px;
}
.soz .contact .content {
  padding-top: 20px;
}
.soz .contact:hover {
  color: #f0a500;
}
.soz .contact .who span {
  color: #ed1c94;
}
.blog-post .button {
  display: flex;
  flex-direction: center;
  justify-content: center;
  margin-top: 10px;
}
.blog-post .button button {
  padding: 8px 56px;
  font-size: 18px;
  background-color: #ed1c94;
  border-radius: 35px;
}
.blog-post .button button a {
  text-decoration: none;
  color: #fff;
}
.blog-post .button button:hover {
  background-color: #6d0eb1;
}
/* footer */
footer {
  height: 650;
  width: 730;
  background-color: #29293a;
}
footer .content {
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .content .maps {
  flex: 50;
}
footer .content .info {
  color: #fff;
  flex: 50;
}
footer .content .info h2 {
  margin-bottom: 20px;
}
footer .content .info p {
  color: gainsboro;
}
footer .content .info .icon {
  margin: 20px 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  color: gainsboro;
}
footer .content .info .icon i {
  margin-bottom: 12px;
}
footer .content .info .social-account a {
  color: #ed1c94;
}
/* grad */
#grad1 {
  margin-bottom: 20px;
  background: linear-gradient(to right, #ed1c94 50%, #981df0 120%);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  font-size: 0;
  line-height: 0;
  height: 3px;
  max-width: 100px;
  width: 100%;
}
#grad2 {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  margin-top: 11px;
  background: linear-gradient(to right, #ed1c94 50%, #981df0 120%);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  font-size: 0;
  line-height: 0;
  height: 3px;
  max-width: 100px;
  width: 100%;
}
body button {
  border: #fff;
}
